{% extends 'base.html'%} 
{% import 'macros.html' as macro%}



{% block content %}
<div class="container">
    <div class="inn">
        <div id="General" class="row tab-pane">
            <h3>GENERAL NEWS</h3>
            <!--general news section-->
            {{macro.displayNewsList(general)}}
        </div>
        <div id="Business" class="row tab-pane ">
            <h3>Business News</h3>
            <!-- Business news sources -->
            {{macro.displayNewsList(business)}}
        </div>
        <div id="Entertainment" class="row tab-pane ">
            <h3>Entertainment News</h3>
            <!-- Entertainment news sources -->
            {{ macro.displayNewsList(entertainment) }}
        </div>
        <div id="Sports" class="row tab-pane ">
            <h3>Sports News</h3>
            <!-- Sports news sources-->
            {{ macro.displayNewsList(sports) }}
        </div>
        <div id="Science" class="row tab-pane">
            <h3>Science News</h3>
            <!--Science news sources-->
            {{macro.displayNewsList(science)}}
        </div>
        <div id="Technology" class="row tab-pane">
            <h3>Technology News</h3>
            <!-- Technology news sources -->
            {{ macro.displayNewsList(technology) }}
        </div>
        <div id="Health" class="row tab-pane ">
            <h3>Health News</h3>
            <!-- Health news sources -->
            {{ macro.displayNewsList(health) }}
        </div>
    </div>
</div>


{% endblock %}